<html>

    <head>
        <title>News Site</title>
        <style>
           body {background-color: yellow;}
           h1[name='heading']   {text-align:center;}
           *:not([name='heading']) {margin-left: 10px;} 
        </style>
    </head>
    <h1 name="heading" style=''>School News</h1>
    <body>
    
    <br>
    
    <div>
    {% if categories %}
        
        {% for category in categories %}
            <h1>{{ category.heading }}</h1>
            <br>
            <p>{{ category.date }}</p>
            <p>{{ category.body }}</p>
            <br>
        {% endfor %}
        
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
     </div>
    
    
    </body>
</html>
